<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        Modern Web Store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">          
          <div class="field">
            <input type="text" class="input is-medium" placeholder="Nome">
          </div>   
          <div class="field">
            <input type="text" class="input is-medium" placeholder="Sobrenome">
          </div>   
          <div class="field">
            <input type="text" class="input is-medium" placeholder="E-mail">
          </div>
          <div class="field">
            <input type="number" class="input is-medium" placeholder="CPF">
          </div>
          <div class="field">
            <input type="text" class="input is-medium" placeholder="Usuário">
          </div>
          <div class="field">
            <input type="password" class="input is-medium" placeholder="Senha">
          </div>
          <div class="field">
            <input type="password" class="input is-medium" placeholder="Confirmar Senha">
          </div>
          <div class="field">
              <a class="button is-primary is-medium is-inverted is-outlined is-fullwidth">CADASTRAR</a>
              <br>
              <a class="">VOLTAR PARA TELA DE LOGIN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>