<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
      <h1 class="title">Seu carrinho</h1>
      <h2 class="subtitle">
        10 itens
      </h2>
    </div>
    <br>
    <table class="table is-striped is-fullwidth">
      <thead>
        <th class="hs-text-centered">Produto</th>
        <th class="hs-text-centered">Valor</th>
        <th class="hs-text-centered">Qtde</th>
        <th class="hs-text-centered">Total</th>        
      </thead>
      <tbody>
        <tr>
          <td class="has-text-centered">Mouse Gamer</td>
          <td class="has-text-centered">R$ 299,90</td>
          <td class="has-text-centered">1</td>
          <td class="has-text-centered"><strong>R$ 299,90</strong></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><h4 class="title">SubTotal</h4></td>
          <td class="has-text-centered"><strong>R$ 299,90</strong></td>
        </tr>
        <tr>
          <td colspan="3"><h3 class="title">Desconto</h3></td>
          <td class="has-text-centered"><strong>R$ 00,00</strong></td>
        </tr>
        <tr>
          <td colspan="3"><h3 class="title">Total</h3></td>
          <td class="has-text-centered"><strong>R$ 299,90</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
<app-footer></app-footer>